@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
html, body, ul, li, p{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}


a{
    text-decoration: none;
}
.container{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "a h"  "a m" "a f";
}

.header{
    background-color: #002B5B;
    grid-area: h;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 20px
}

.sandwich {
    background: #2B4865; 
    grid-area: a;

}

main {
    
    background: #256D85;
    grid-area: m;
    
}

footer{
    background: #002B5B;
    grid-area: f;
}
