@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
html, body, ul, li, p{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}


a{
    text-decoration: none;
}
.container{
    display: grid;
    grid-template-columns: 1fr 45fr;
    grid-template-rows: 20vh 80vh ;
    grid-template-areas: "h h"  "m m";
}
 
/* começo header */

.header{
    background-color: #002B5B;
    grid-area: h;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    padding: 20px
}

.logo{
    padding-top: 15px;
    padding-left: 20px;
}

.sandwich-right{
    margin: 50px 10px;
}

#sandwich{
    position: absolute;
    opacity: 0;
}
label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #256D85;
    transition: 0.3s;
}


label span:nth-child(1){
    top: 0;
}

label span:nth-child(2){
    top: 8px;
}

label span:nth-child(3){
    top: 16px;
}

label.active span:nth-child(1){
    transform: rotate(-45deg) translate(-5px, 5px);
}

label.active span:nth-child(2){
    opacity: 0;
}

label.active span:nth-child(3){
    transform: rotate(45deg) translate(-7px, -5px);
}

.pesquisa {
    margin: auto;
    width: 50%;
    clear: both;
    text-align: center;
    
}

.pesquisa input {
    width: 80%;
    height: 30px;
    margin: auto;
    
}


.icon{
    width: 90px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#config-but{
    position: absolute;
    opacity: 0;
}

.icon img{
    width: 60px;
    height: 60px;
    margin: auto;
    cursor: pointer;
}

/* fim header */


/* começo sandwich */

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.list {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 15vw;
    height: 80vh;
    padding-top: 20px;
    flex-direction: column;    
    background: #002B5B;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
}

.list.active{
    transform: translatex(0);
}

.list li{
    letter-spacing: 3px;
    margin: 10px 0px 10px 32px;
    opacity: 0;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.slistas{
    margin: 5px 10px;
}

@media (max-width: 1524px)  {
    body{
        overflow-x: hidden;
    }
    .list {
        width: 20vw;
    }
}


/* fim sandwich */


/* começo main */

main {
    
    background: #256D85;
    grid-area: m;
    
}

.main-content {
    width: 500px;
    padding: 20px 80px;
    margin: 0;
}

/* fim main */

