@charset "UTF-8";
*{

    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    margin: 0px;
}

.container{
    background-color: #D9D9D9;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    padding-bottom: 20px;
    width: 250px;
    margin: 0 auto;
}

.form{
    width: 300px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}
.locate{
    width: 250px;
    margin: 0 auto;
}
.locate:first-child{
    width: 300px;
}

input{
    width: 166px;
}

input[type=submit]{
    width: 100px;
    margin: 20px 0px;
}

.login{
    width: 230px;
    margin: 0 auto;
    padding: 10px;
}

#bottom{
    width: 200px;
    text-align: center;
    margin: 0 auto;
}
#bottom p {
    width: 200px;
}
